<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

{% block title %}
¡Inscripción Exitosa!|Curso de Programación para Organizaciones Comunitarias
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'inscripcion:application' %}">Inscripción Exitosa</a>
</li>
{% endblock breadcrumbs %}

{% block content_article %}
<div class="tile is-parent">
    <div class="tile is-child box has-text-centered">

        <article class="mdl-cell mdl-cell--6-col">
{% if mostrar %}
            <h1 class="title is-3">Hemos recibido exitosamente tu Inscripción</h1>
            <h5 class="title is-6"> ¡Muchas gracias
                {{inscripcion.usuario.profile}}!</h5>
            <p>se te enviará un email a:</p>
<b>{{inscripcion.usuario.email}}</b>
{% endif %}
        </article>

    </div>
</div>

{% endblock content_article %}
