{% load widget_tweaks %}
{% load static %}

<h4 class="title is-4">Formulario de aceptación</h4>
<form action="{{request.get_full_path}}" method="post"
      enctype="multipart/form-data"
      role="form" class="django form">
    {% csrf_token %}
    <div class="field is-horizontal">
        <div class="field-label">
        <label class="label">
            {{form.status.label}}
        </label>
        </div>
        <div class="field-body">
        <div class="control is-fullwidth">
            <div class="select">
                {% render_field form.status class+="input select" type="select" id+="select_status" %}
            </div>
        </div>
        </div>
    </div>
    <div  class="field is-horizontal"  id="field_mensaje">
        <div class="field-label is-normal">
            <label class="label"
                   for="{{form.mensaje.id_for_label}}">
                {{form.mensaje.label}}</label>
        </div>
        <div class="field-body">
            <div class="columns">

                <div class="column is-8">
            <div class="control">
                {% render_field form.mensaje class+="textarea" type="textarea" id+="message" %}</div>
            <span class="help is-invalid">{{ form.mensaje.errors }}</span>
                </div>
                <div class="column">
                    <p>Ingresa un mensaje que corresponderá al parámetro "mensaje_particular"</p>

                    <a class="button is-warning is-fullwidth"  target=”_blank”
                       href="{% url 'proyecto:emails_edit' inscripcion.proyecto.email_templates.id %}"
                       id="edit_mail_templates">
                        <i class="fas fa-eye"></i>Editar Mensajes</a>
                    <button class="button is-info is-fullwidth" type="button"
                            onclick="show_message_preview()"
                            id="link_preview">
                        <i class="fas fa-eye"></i>Preview</button>

                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">
                <input type="checkbox" id="checkbox_promesa" onclick="handleChange(this)">
                {{form.promesa.label}}
            </label>
        </div>
        <div class="field-body">
            <div>He revisado a conciencia la postulación de {{inscripcion.usuario}}</div>
        </div>
    </div>

    <div class="is-hidden">
    {% render_field form.inscripcion class+="input" type="input" id+="id_inscripcion" value=form.inscripcion.initial %}
    {% render_field form.user class+="input" type="input" id+="select_status" value=form.user.initial %}
    </div>


    <div class="buttons are-medium columns">
        <div class="column">
            <button type="submit" class="button is-primary is-fullwidth" id="send_button" disabled>Enviar Resultado</button></div>
        <div class="column ">
            <a class="button is-warning is-fullwidth" href={% if group %}
               "{% url 'inscripcion:project_admin' inscripcion.proyecto.slug_generacion %}"
               {% else %}
               "{% url 'inscripcion:list_inscribed_all' %}"{% endif %}>
                Cancelar</a></div>
    </div>

</form>
{% include 'inscripcion/modal_email.dj.html' %}
<div class="is-hidden">
    <div id="texto_review">{{inscripcion.DEFAULT_MSG}}</div>
    <div id="texto_acepta">{{inscripcion.ACEPTA_DEFAULT}}</div>
    <div id="texto_rechazo">{{inscripcion.RECHAZA_DEFAULT}}</div>
</div>
<script>
 /*
    Al cambiar el select de status... :=> on change
    Completar el campo de texto por
  */
 let url_acepta="{% url 'proyecto:emails_preview' inscripcion.id 'acepta' %}"
 let url_rechaza="{% url 'proyecto:emails_preview' inscripcion.id 'rechaza' %}"
 let review = document.getElementById("texto_review").innerHTML;
 let acepta = document.getElementById("texto_acepta").innerHTML;
 let rechazo = document.getElementById("texto_rechazo").innerHTML;
 let status_elem = document.getElementById("select_status");
 let message_elem = document.getElementById("message");
 let link = document.getElementById("link_preview");
 status_elem.addEventListener("change", event=>{
     let target=event.target;
     let sel=target.value;
     if (sel==="accepted"){
         message_elem.innerHTML = acepta;
         link.setAttribute("href", url_acepta);
     }
     else if(sel==="rejected"){
         message_elem.innerHTML = rechazo;
         link.setAttribute("href", url_rechaza);
     }
     else{
         message_elem.innerHTML = review;
         link.setAttribute("href", "");
     }
 });

 /*
    $.ajax({
    url: "/ajax/",
    type: "POST",
    data: name,
    cache:false,
    dataType: "json",
    success: function(resp){
    alert ("resp: "+resp.name);
    }
    });*/

 function active_modal_message(modal_id, data){
     let modal=document.getElementById(modal_id);
     let content=document.getElementById("content_message_preview");
     content.innerHTML=data["email_html"];
     let title=document.getElementById("modal_title");
     title.innerHTML = data.title;
     modal.classList.add("is-active");
     let close = document.getElementById("close_modal");
     close.addEventListener("click", event=>{
         modal.classList.remove("is-active");
     });
     let close_up = document.getElementById("close_modal_up");
     close_up.addEventListener("click", event=>{
         modal.classList.remove("is-active");
     });

 }

 function ajax_message_preview(url, data, modal_id, callback){
     /*
        username: nombre d 
        usuario
        field_name: nombre del campo a modificar
        value: valor modificado
        field: campo

      */
     var csrftoken = getCookie('csrftoken');
     let xhr = new XMLHttpRequest();
     xhr.open('POST', url, true);
     xhr.onload = function result_update_field(event){
         let data_txt = xhr.responseText;
         let data_json = JSON.parse(data_txt);
         if (xhr.readyState==4){
             if (xhr.status==200){
                 callback(modal_id, data_json);
             }
             else{
                 console.log("Error al recibir");
             }
         }

     };

     xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
     xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
     xhr.setRequestHeader("X-CSRFToken", csrftoken);
     let json_string =JSON.stringify(data);
     console.log("Send msg", json_string);
     xhr.send(json_string);
 }
 // call ajax
 let inscripcion_id = "{{inscripcion.id}}";

 function show_message_preview(){
     let url="{% url 'inscripcion:preview_postulante' %}";
     let txt_html = document.getElementById("message").value;
     let txt_tipo = document.getElementById("select_status").value;
     let data = {mensaje_particular:txt_html, inscripcion:inscripcion_id, tipo:txt_tipo};
     console.log("Sending data...", data);
     ajax_message_preview(url, data, "modal_email", active_modal_message);
 }
 /* listen checkbox event on True=>button send disable false*/
 function handleChange(checkbox){
     let button=document.getElementById("send_button");
     if(checkbox.checked == true){
         button.disabled=false;
     }
     else if(checkbox.checked == false){
         button.disabled=true;
     }

 }
</script>
