{% extends 'inscripcion/base.dj.html' %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'inscripcion:application' %}">Por inscripción</a>
</li>
{% endblock breadcrumbs %}

{% block content_inscripcion %}
<div class="tile is-child">
    <h3 class="title is-3">
        Últimas inscripciones
    </h3>
</div>

<div class="tile is-child">
    {% include 'inscripcion/users_table.dj.html' %}
</div>

<div class="tile is-child">
    {% include 'components/paginate.dj.html' %}
</div>
<div class="tile is-child">
    <!-- SUMARIO: ON_REVIEW, ACCEPTED, REJECTED -->
    {% if perms.groups_manager.can_change_inscripcion %}
    {% include 'inscripcion/sumario.dj.html' %}
    {% endif %}
</div>


{% endblock %}
