{% extends 'inscripcion/base.dj.html' %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'inscripcion:application' %}">Postulante</a>
</li>
{% endblock breadcrumbs %}


{% block content_inscripcion %}
<div class="tile is-child">
    {% include 'inscripcion/detail_postulante.dj.html'  %}
</div>
<div class="tile is-child">
    {% include 'inscripcion/detail_inscripcion.dj.html'  %}
</div>
<div class="tile is-child">
    {% include 'inscripcion/form_postulante.dj.html' %}
</div>
{% endblock %}
