<div class="tile is-parent">
    <div class="tile is-child box is-info is-4">
        <h3 class="title is-4">Pendientes</h3>
        <div class="section has-text-centered" id="numeros_pendientes">
        <div id="pendientes">{{cifras.on_review.count}}</div>/
        <div class="total">{{cifras.total}}</div>
        </div>
    </div>
    <div class="tile is-child box is-success is-4">
        <h3 class="title is-4">Aceptadas</h3>
        <div class="section has-text-centered" id="numeros_aceptadas">
        <div id="aceptadas">{{cifras.accepted.count}}</div>/
        <div class="total">{{cifras.total}}</div>
        </div>
    </div>
    <div class="tile is-child box is-danger is-4">
        <h3 class="title is-4">Rechazadas</h3>
        <div class="section has-text-centered" id="numeros_rechazados">
            <div id="rechazadas">{{cifras.rejected.count}}</div>/
            <div class="total">{{cifras.total}}</div>
        </div>
    </div>        
</div> 
