{% extends 'proyecto/emails/base.dj.html' %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{% url 'proyecto:emails_list' %}">Lista</a>
</li>
{% endblock breadcrumbs %}

{% block content_proyecto%}
<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i> Lista de Templates Email para Proyectos
</h2>

<table class="table is-hoverable is-fullwidth is-striped" id="group_list">
    <thead>
        <tr>
            <th>Afiche</th>
            <th>Curso</th>
            <th>Proyecto</th>
            <th>Fecha Creación</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for email_set in object_list %}
        {% if perms.groups_manager.can_view_emailtemplates %}
        <tr>
            <!-- afiche (thumb) field -->
            <td><img src="{{email_set.proyecto.afiche.url}}" width="60px" height="60px"
                     alt="Afiche curso"></td>
            <!-- afiche (thumb) field -->
            <td><a href="{{project.get_absolute_url}}">
                {{email_set.proyecto.curso}}</a></td>
            <!-- generacion field -->
            <td>{{email_set.proyecto.generacion}}</td>
            <!-- fecha field -->
            <td>{{email_set.date_time}}</td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_project %}
                <a href="{% url 'proyecto:emails_edit' email_set.id %}"
                   class="button is-warning is-block">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_project %}
                <a  href="{% url 'proyecto:emails_delete' email_set.id %}"
                    class="button is-danger is-block">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {%endif%}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
