<div class="media">
    <figure class="media-left">
        <p class="afiche">
            <img src="{{object.afiche.url}}" alt="{{object.curso}}"
    width="200px" height="auto">
        </p>
    </figure>
    <div class="media-content">
        </div>
        <div class="content">
            <h4 class="title is-4"> {{object.curso.nombre}}</h4>
            <div class="generation-data media">
                <div class="media-content">
                    <img src="{{object.icono_totem.url}}" class="icono">
                    <span class="tag is-info">{{object}}</span>
                </div>
            </div>
            <div class="content mt-5">
                {{object.curso.descripcion|safe|truncatewords:20}}
            </div>
            <div class="">
                {{project}} {{object}}
                <a href="{% url "proyecto:course_generation" object.curso.slug object.slug %}"
                   title="{{object.curso.nombre}}: {{object.generacion}}">
                    Ver el curso</a></div>
        </div>
    </div>
