{% extends 'proyecto/base.dj.html' %}

{% block breadcrumbs %}
{{block.super}}
<li>
    <a href="{{object.get_absolute_url}}">Detalle</a>
</li>
{% endblock breadcrumbs %}


{% block content_proyecto%}
    <div class="tile is-parent">
        <div class="tile is-child is-vertical">
            <div class="tile is-parent">
                <div class="tile is-child is-6 box">
                    <h3 class="title is-3">Inscripcción</h3>
                    <input id="inscripcion_dates"
                           type="date"
                           data-display-mode="inline"
                           data-is-range="true"
                           data-close-on-select="false">
                </div>
                <div class="tile is-child is-6 box">
                    <h3 class="title is-3">Curso</h3>
                    <input id="clases_dates"
                           type="date"
                           data-display-mode="inline"
                           data-is-range="true"
                           data-close-on-select="false">
                </div>
            </div>
            <div class="tile is-child box" id="data_curso">

                <a href="{{object.curso.get_absolute_url}}">
                    <figure class="content has-text-centered">
                        <img src="{{object.curso.imagen.url}}">
                        <h4 class="title is-4">{{object.curso}}</h4>
                    </figure>
                    <div
                        class="section">{{object.curso.descripcion|safe|truncatewords:30}}</div>
                </a>

            </div>
        </div>        
    </div>

<div class="tile" id="info">
    <div class="tile is-parent">
        <div class="tile is-child box">
            {{object.descripcion|safe}}
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box is-6" id="totem_generacion">
            <h3 class="title is-3">Generación {{object.generacion}}</h3>
            <figure class="section">
                <h4 class="title is-4">Icono</h4>
                <img src="{{object.icono_totem.url}}" width="230px">
            </figure>
            <figure class="section">
                <h4 class="title is-4">Imagen</h4>
                <img src="{{object.imagen_totem.url}}" width="230px">
            </figure>
        </div>
        <div class="tile is-child is-6 box" id="afiche">
            <figure class="section">
                <h4 class="title is-4">Afiche</h4>
                <img src="{{object.afiche.url}}" width="250px">
            </figure>
            <figure class="section">
                <h4 class="title is-4">Fondo</h4>
                <img src="{{object.imagen_fondo.url}}" width="250px">
            </figure>
        </div>
    </div>
</div>
<div class="tile is-parent">
    <div class="tile is-child is-vertical">
        <div class="tabs is-centered">
            <ul>
                <li onclick="show_responsables(this)" id="responsables_tab"><a>Responsables</a></li>
                <li onclick="show_profesores(this)" id="profesores_tab"><a>Profesores</a></li>
                <li onclick="show_ayudantes(this)" id="ayudantes_tab"><a>Ayudantes</a></li>
                <li onclick="show_estudiantes(this)" class="is-active" id="estudiantes_tab"><a>Estudiantes</a></li>
            </ul>
        </div>
        <div class="tile box is-vertical users is-hidden" id="responsables">
            <div class="tile is-child">
                <h5 class="title is-child is-5">Responsables</h5>
            </div>
            <!-- Creador y responsables -->
            <div class="tile is-child">
                {% include 'proyecto/users_table.dj.html' with members=members.responsables group=groups.responsables  %}
            </div>
        </div>
        <div class="tile box is-vertical users is-hidden" id="profesores">
            <div class="tile is-child">
                <h5 class="title is-child is-5">Profesor@s</h5>
            </div>
            <div class="tile is-child">
                {% include 'proyecto/users_table.dj.html' with members=members.profesores group=groups.profesores %}
            </div>
        </div>
        <div class="tile box is-vertical users is-hidden" id="ayudantes">
            <div class="tile is-child">
                <h5 class="title is-child  is-5">Ayudantes</h5>
            </div>
            <div class="tile is-child">
                {% include 'proyecto/users_table.dj.html' with members=members.ayudantes group=groups.ayudantes  %}
            </div>
        </div>
        <div class="tile box is-vertical users" id="estudiantes">
            <div class="tile is-child">
                <h5 class="title is-child  is-5">Estudiantes</h5>
            </div>
            <div class="tile is-child">
                {% include 'proyecto/users_table.dj.html' with members=members.estudiantes group=groups.estudiantes  %}
            </div>
        </div>
   
    </div>
</div>
<script>
 let opts_ins = {color:'info', type:"date", read_only:true}
 let inscripciones = {...opts_ins}
 let opts_curso = {color:'alert', type:"date", read_only:true}
 let curso = {...opts_curso}
 {% if object.fecha_inscripcion_inicio %}
 const startDateInscripcion = "{{object.fecha_inscripcion_inicio|date:'m/d/Y'}}";
 inscripciones["startDate"]=new Date(startDateInscripcion);
 {% endif %}
 {% if object.fecha_inscripcion_final %}
 const endDateInscripcion = "{{object.fecha_inscripcion_final|date:'m/d/Y'}}";
 inscripciones["endDate"]=new Date(endDateInscripcion);
 {% endif %}
 {% if object.fecha_inicio %}
 const startDateCurso = "{{object.fecha_inicio|date:'m/d/Y'}}";
 curso["startDate"]=new Date(startDateCurso);
 {% endif %}
 {% if object.fecha_final %}
 const endDateCurso = "{{object.fecha_final|date:'m/d/Y'}}";
 curso["endDate"]=new Date(endDateCurso);
 {% endif %}
 window.addEventListener("DOMContentLoaded", function(event) {
     activate_calendar("inscripcion_dates",
                       ["fecha_inscripcion_inicio",
                        "fecha_inscripcion_final"],
                       inscripciones)
     activate_calendar("clases_dates",["fecha_inicio","fecha_final"],
                       curso)

     /*activa modal de imagenes*/
     var figures=document.querySelectorAll("figure.thumb_imagen.main");
     figures.forEach(figure=>{
         figure.addEventListener("click", event => {
             let element_id=event.target.id;
             let modal_id=element_id+"_modal";
             let modal_el = document.getElementById(modal_id);
             if(modal_el){
                 modal_el.classList.add("is-active");
             }
         })
     });
 });
 /* show tabs */
 function show_table(elem, name){
     let users = document.getElementsByClassName("users");
     Object.entries(users).forEach( ([key, user]) =>{
         user.classList.add('is-hidden');
         let past_name =  user.id;
         let last_tab = document.getElementById(past_name+"_tab");
         if (last_tab){
             last_tab.classList.remove("is-active");
         }
     });
     let name_elem = document.getElementById(name);
     name_elem.classList.remove('is-hidden');
     let tab_elem = document.getElementById(name+"_tab");
     tab_elem.classList.add("is-active");
 }
 function show_responsables(elem){
     show_table(elem,"responsables")
 }
 function show_profesores(elem){
     show_table(elem,"profesores")
 }
 function show_ayudantes(elem){
     show_table(elem, "ayudantes")
 }
 function show_estudiantes(elem){
     show_table(elem,"estudiantes")
 }
</script>
{% endblock %}

