{% extends 'proyecto/base.dj.html' %}

{% block content_proyecto%}
<div class="tile is-child">
<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i> Lista de Proyectos 
</h2>
</div>
<div class="tile">
<table class="table is-hoverable is-fullwidth is-striped" id="group_list">
    <thead>
        <tr>
            <th>Afiche</th>
            <th>Tótem</th>
            <th>Curso</th>
            <th>Generación</th>
            <th>Fecha Inicio</th>
            <th>Fecha Final</th>
            <th>Valores</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for project in object_list %}
        <tr>
            <!-- afiche (thumb) field -->
            <td><img src="{{project.afiche.url}}" width="60px" height="60px"
    alt="Afiche curso"></td>
            <!-- afiche (thumb) field -->
            <td><img src="{{project.icono_totem.url}}" width="60px" height="auto"
    alt="Icono toem"></td>
            <!-- curso field -->
            <td><a href="{% if project.curso %}{{project.get_absolute_url}}
                         {%endif %}">{{project.curso}}</a></td>
            <!-- generacion field -->
            <td>{{project.generacion}}</td>
            <!-- fecha inicio field -->
            <td>{{project.fecha_inicio}}</td>
            <!-- fecha final field -->
            <td>{{project.fecha_final}}</td>
            <!-- valores -->
            <td>
                <ul>
                    {% for valor in project.valor.all %}
                    <li>{{valor}}:${{valor.precio}}</li>
                    {%endfor%}
                </ul>
            </td>
         <!-- action field -->
        <td class="has-text-right">
            <!--PERMISSIONS_HERE-->
            {% if perms.groups_manager.can_change_project %}
            <a href="{% url 'proyecto:project_edit' project.slug_generacion %}"
    class="button is-warning is-block">
                <i class="fa fa-edit"></i>
            </a>
            {% endif %}
            {% if perms.groups_manager.can_delete_project %}
            <a  href="{% url 'proyecto:project_delete' project.slug_generacion %}"
                class="button is-danger is-block">
                <i class="fa fa-times"></i>
            </a>
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
