{% extends 'proyecto/base.dj.html' %}
{% load widget_tweaks %}

{% block content_article%}
<div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-half">
        <div class="tile">
            <div class="tile is-child box">
               {% block form_delete %}
               {% endblock %}
           </div>
        </div>
    </div>
</div>
{% endblock content_article %}
