<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{member.username}}</td>
            <td>{{member.django_user.profile}}</td>
            <td>{{member.django_user.email}}</td>
            <td>
                {% for group_member in member.group_membership.all %}
                {% if group_member.group in group %}
                {{group_member.group}}
                    {%endif%}
                    {% endfor %}
            </td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_groupmember %}
                {% if tipo == 'course' %}
                <a href="{% url 'admin_group:edit_member2group_course' member.id main_group.id %}" class="button is-warning">
                    {% else %}
                    <a href="{% url 'admin_group:edit_member2group_project' member.id main_group.id %}" class="button is-warning">
                    {% endif %}
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_groupmember %}
                <a href="{% url 'admin_group:remove_member' member.id 'proyecto' object.group.id %}" class="button is-danger">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}            
    </tbody>
</table>
