{% extends 'contenido/main.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

<!-- Contenidos de sesion -->

{% block breadcrumbs %}
{{block.super}}
<li class="{% if bread == "sesion" %}is-active{% endif %}">
    {{object.titulo}}({{object.posicion}})
</li>
{% endblock breadcrumbs %}

<!-- tabs -->
<!-- contenidos de clase -->
<!-- contenidos de ejercicios -->
<!-- info de profesores -->

{% block content_contenido %}
<div class="tile is-parent is-vertical">
    <div class="tile box">
        <div class="tile is-child is-6 box has-text-left">
            {% if anterior%}
            <a href="{{anterior.get_absolute_url}}"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> {{anterior.titulo}}</a>
            {% endif %}</div>
        <div class="tile is-child is-6 box has-text-right">
            {% if siguiente %}
            <a href="{{siguiente.get_absolute_url}}">
                {{siguiente.titulo}} <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="tile is-child box">
        {{object.resumen}}
    </div>
    <div class="tile is-child box">
    <div class="tabs is-centered">
        <ul>
            <li class="is-active" onclick="show('clase')" id="tab_clase"><a>Clase</a></li>
            <li class="" onclick="show('ejercicio')" id="tab_ejercicio"><a>Ejercicio</a></li>
            <li class="" onclick="show('profesores')" id="tab_profesores"><a>Profesor@s</a></li>
        </ul>
    </div>
    <div class="content" id="clase">
        <h4 clas="title is-4">Clase {{object.titulo}}</h4>
        {% include 'contenido/de_sesion.dj.html' with contenidos=clase tipo="clase" %}
    </div>
    <div class="content is-hidden" id="ejercicio">
        <h4 clas="title is-4">Ejercicio {{object.titulo}}</h4>
        {% include 'contenido/de_sesion.dj.html' with contenidos=ejercicio tipo="ejercicio" %}
        </div>
        <div class="content is-hidden" id="profesores">
            <h4 clas="title is-4">Profesores</h4></div>
    </div>
</div>
{% endblock %}


{% block footer_javascript %}
<script src="{% static 'contenido/js/webtorrent.min.js' %}"></script>
<script>
 let is_hidden='is-hidden';
 let is_active='is-active';
 let seleccion="clase";
 let players = ["curso","ejercicio"];
 function show(idname){
     let tab = document.getElementById("tab_"+idname);
     let tab_pasada = document.getElementById("tab_"+seleccion);
     let pasada = document.getElementById(seleccion);
     let cambio = document.getElementById(idname);
     if (seleccion!=idname){
         if (!pasada.classList.contains(is_hidden)){
             pasada.classList.add(is_hidden);
             tab_pasada.classList.remove(is_active);
         }
         if (cambio.classList.contains(is_hidden)){
             cambio.classList.remove(is_hidden);
             tab.classList.add(is_active);
         }
         if (name in players){
             deactivate_player(seleccion)
             activate_player(idname)

         }
         seleccion=idname;
     }
 }
 /*
    Activate video torrent
  */
 let client=new WebTorrent();
 let active_torrent=null;

 function activate_player(name){
     let magnet_link=document.getElementById("magnet_link_"+name);
     let elem_player=document.getElementById("player_"+name);
     if (magnet_link){
         let url = magnet_link.value;
         console.log("URL Torrent", url);
         client.add(url, function (torrent){
             let file= torrent.files.find(function(file){
                 return file.name.endsWith(".mp4")
             }
             )
             var video=document.createElement(video);
             video.controls=true;
             elem_player.appendChild(video);
             file.appendTo("#player_"+name);
             })
     }

 }
             function deactivate_player(name){

             }
             activate_player(seleccion)

</script>
{% endblock %}



{% block footer_css %}
<link rel="stylesheet" href="{% static 'contenido/css/video.css' %}">
{% endblock %}

