{% extends 'proyecto/base.dj.html' %}

{% block content_proyecto %}
<div class="tile">
<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i> Valores
</h2>
</div>
<div class="tile">
<table class="table is-hoverable is-fullwidth is-striped" id="group_list">
    <thead>
        <tr>
            <th>Asignación</th>
            <th>Precio CLP$</th>
            <th>En USD$</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for value in object_list %}
        <tr>
            <td><a href="{{value.get_absolute_url}}">{{value.asignacion}}</a></td>
            <td>{{value.precio}}</td>
            <td>{{value.usd}}</td>
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_valor %}
                <a href="{% url 'proyecto:coursevalue_edit' value.id %}"
    class="button is-warning">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_valor %}
                <a href="{% url 'proyecto:coursevalue_delete' value.id %}"
    class="button is-danger">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
