<!-- llamadas principales -->
<!-- Extender base -->
{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}

<!-- css para detail protocol -->
{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'accounts/css/estilos.css' %}">
{% endblock %}

{% block title %}
Cuenta de Usuario|{{SITE_NAME}}
{% endblock %}

{% block breadcrumbs %}
{{block.super}}
<li class="is-active">
    Cuentas
</li>
{% endblock breadcrumbs %}

{% block sidebar_left %}
<div class="tile is-parent is-2">
    <!--menú de acceso a las opciones de reporte general -->
    <div class="tile is-child box">
        <div class="sticky">
	          {% include 'accounts/main_menu.dj.html' %}
        </div>
    </div>
</div>
{% endblock sidebar_left %}


{% block content_article %}
<article
    id="app_accounts"
    class="tile">
    <div class="tile is-parent">
            <!--pantalla central con iconos -->
            {% block content_accounts %}
            {% endblock content_accounts %}
    </div>
</article>
{% endblock content_article %}
