<section>
    <h1 class="title is-3">Accounts</h1>
    <ul>
        {% if not user.is_authenticated %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">Crear usuario</a></li>
        <li><a href="{% url 'accounts:password_reset' %}">Reset Password</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>Profile</li>
        <li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% endif %}
    </ul>
</section>
