{% extends 'base.dj.html' %}
{% load static %}
{% block title %}¡Creación nuevo usuario inválida!{% endblock title %}
{% block content_article %}
<section id="new-password-ok">
    <h1 class="title">Perfil de Usuario {{user.first_name|title}} {{user.last_name|title}} | {{user.username}}</h1>
</section>
{% endblock content_article %}
 
