{% load static %}

<section class="hero is-medium has-carousel is-info">
    <div id="carousel-web" class="hero-carousel">
        <div class="item-1">
            <div class="tile is-parent">
                <!-- Slide Content -->
                <div class="tile is-child has-text-centered">
                    <img src="{% static 'home/img/carrusel/autonomia.png' %}"
                         alt="autonomía" class="img_carousel">
                </div>
                <div class="tile is-child texto-carrusel">
                    La comunidad decide qué y cómo aprender,
                    democrática y autónoma.
                </div>
            </div>
        </div>
        <div class="item-2">
            <div class="tile is-parent">
                <!-- Slide Content -->
                <div class="tile is-child has-text-centered">
                    <img src="{% static 'home/img/carrusel/conocimiento.png' %}"
                         alt="conocimiento" class="img_carousel">
                </div>
                <div class="tile is-child texto-carrusel">
                    El conocimiento se comparte, se crea y se mejora
                    entre tod@s.
                </div>
            </div>
        </div>
        <div class="item-3">
            <div class="tile is-parent">
                <!-- Slide Content -->
                <div class="tile is-child has-text-centered">
                    <img src="{% static 'home/img/carrusel/interconexion.png' %}"
                         alt="interconexion" class="img_carousel">
                </div>
                <div class="tile is-child texto-carrusel">
                    Instancias que fluyen entre la virtualidad y los
                    territorios en dónde se construyen comunidades ciber-territoriales.
                </div>
            </div>
            <!-- Slide Content -->
        </div>
    </div>

    <div class="hero-body">
        <div class="container">
        </div>
    </div>
</section>
