{% extends 'base.dj.html' %}
{% load static %}


<!-- cargar otro archivo css -->
{% block special_css %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'home/css/contacto.css' %}">
{% endblock %}


{% block title %}Contacto | Curso de Programación Organizaciones Comunitarias{% endblock %}

{% block title_article %}
{% endblock title_article %}

{% block sidebar_left %}

{% endblock sidebar_left %}

{% block content_article %}

<div class="mdl-grid">
    <div class="mdl-cell--3-offset"></div>
    <article class="{{proyecto_data.curso.slug_titulo}} mdl-cell
                    mdl-cell--6-col">
        <h2>Otras formas de contactar
        </h2>
<figure id="im_contact">
    <img src="{% static './home/img/icono-contacto.svg' %}">
</figure>
<p><i>La forma más directa de contactarnos es mediante
    nuestro correo electrónico</i></p>

<b>cursodeprogramacion@disroot.org</b> o bien a <b>dpineda@uchile.cl</b>

<p>
    <a href="mailto:cursodeprogramacion@disroot.org">Escribenos</a> 
</p>
    </article>
    <div class="mdl-cell--3-offset"></div>
</div>
{% endblock %}
