{% extends 'home/base.dj.html' %}
{% load static %}


{% block hero_content %}
{% include 'home/carrusel.dj.html' %}
{% endblock %}


{% block index_content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child box" id="inscripciones_activas">
                {% include 'home/componentes/inscripciones_activas.dj.html' %}
            </div>            
        </div>
        <div class="tile is-parent" id="inscripciones_no_activas">
            <div class="tile is-child" id="cursos_activos">
                {% include 'home/componentes/cursos_en_curso.dj.html' %}
            </div>            
            <div class="tile is-child" id="cursos_pasados">
                {% include 'home/componentes/cursos_del_pasado.dj.html' %}
            </div>                       
        </div>
    </div>
    {% if not user.is_authenticated %}
    <div class="tile is-3">
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="sticky">
                    {% include 'accounts/card_login.dj.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

<!-- Añadir CSS Extra en footer -->
{% block footer_css %}
{% endblock %}


{% block footer_javascript %}
<script>
 window.addEventListener("DOMContentLoaded", function(event) {
     let options = {
         slidesToScrill:1,
         slidesToShow: 1,
         loop:true,
         autoplay:true,
         autoplaySpeed: 6000,
         pauseOnHover: true
     };
     active_carousel("#carousel-web", options);
 })
</script>
{% endblock %}
