<form method="post" action="{% url 'accounts:login' %}" role="form">
    {% csrf_token %}
    <div id="login-fields">
            <label class="label">{{ form.username.label_tag }}</label>
            <div class="control">{{ form.username }}</div>
            <label class="label">{{ form.password.label_tag }}</label>
            <div class="control">{{ form.password }}</div>
    </div>
    <div class="section">
        <div class="control">
            <button class="button is-link is-fullwidth"
                    type="submit">Ingresar</button>
        </div>
        <div class="control">
            <button class="button is-link is-fullwidth"
                    type="submit">Registrarse</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'accounts:password_reset' %}">¿Olvidaste tu contraseña?</a></p>
