{% extends "accounts/base_login.dj.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
{{block.super}}
<li class="is-active">
    <a href="{% url 'accounts:signup' %}"
       aria-current="page">Registro de Usuario</a>
</li>
{% endblock breadcrumbs %}


{% block content_accounts %}
<div class="tile is-child is-8">
<h2 class="title is-2">Registro de Usuario</h2>
<form method="post" role="form" class="form">
    {% csrf_token %}
    <div id="user_info" class="tile">
    <div class="tile is-parent">
        <div class="tile is-child box">
    {% for field in form %}
    {% if field.name != "captcha" and field.name != "acepta" %}
    <div class="field field-login" id="field_{{field.name}}">
        <label class="label">
            {{ field.label_tag }}
        </label>
        <div class="control">
             {% render_field field class+="input" %}
        </div>
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p class="help is-invalid" style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
        </div>
    </div>
    </div>
    {% include 'components/captcha.dj.html' with captcha=form.captcha %}
    <div class="tile is-parent">
        <div class="tile is-child">
            <div class="field field-acepta">
                <div class="control">                
            <label class="checkbox">
                <input type="checkbox"  name="acepta" onclick="signup(this)">
                <a href="#modal_terms" onclick="activa_modal('modal_terms')"> Acepto terminos y condiciones</a>
                {% include 'registration/modal_terms.dj.html' %}
            </label>
                </div>
    </div>
        </div>
    </div>
    <div class="control">
        <button id="sign_up" type="submit" class="button is-link is-fullwidth" disabled>Registrarse</button>
    </div>
    <input type="hidden" name="next" value="{{next}}">
</form>
</div>
{% endblock %}

{% block footer_javascript %}
 // load some special variables
<script src="{% static 'js/captcha.js' %}">
</script>
<script>
 function activa_modal(name){
     let modal=document.getElementById(name)
     modal.classList.add("is-active");
 }
 function modal_close(name){
     let modal=document.getElementById(name)
     modal.classList.remove("is-active");
 }
 function signup(checkBox){
     let button=document.getElementById("sign_up");
     if (checkBox.checked == true){
         button.disabled = false;
     } else {
         button.disabled = true;
     }
 }
</script>

{% endblock %}

