{% extends 'base.dj.html' %}
{% load static %}


{% block title_article %}
{% endblock title_article %}
{% block content_article %}
<h1>{{ vista }}</h1>
<ul>
    {% for object in object_list %}
    <li>{{ object }}</li>
    {% empty %}
    <li>No articles yet.</li>
    {% endfor %}
</ul>
{% endblock content_article %}

