{% extends "groups_manager/bulma/group_member_role.html" %}


{% block breadcrumbs %}
{{ block.super }}
<li>
    <span class="divider">&raquo;</span>
    {% if group_member_role %}
    <a href="{% url 'groups_manager:group_member_role_edit' group_member_role.id %}">Edit</a>
    {% else %}
    <a href="{% url 'groups_manager:group_member_role_add' %}">Add</a>
    {% endif %}
</li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}

<h2 class="title is-2">
    <i class="fa fa-groups-manager-group-member-role"></i>
    {% if group_member_role %}
    Edit "{{ group_member_role }}"
    {% else %}
    Create Group Member Role
    {% endif %}
</h2>


<form action="." method="post" id="group_member_role_form" class="django form-horizontal">
    {% csrf_token %}

    {% include "groups_manager/bulma/group_member_role_form_template.html" %}

    <div class="columns">
        <div class="column">
            <button type="submit" class="button is-primary is-fullwidth">Submit</button>
        </div>
        <div class="column"> 
            <a class="button is-warning is-fullwidth"
               href={% if group %}"{% url 'groups_manager:group_member_role_detail' group_member_role.id %}"
               {% else %}
               "{% url 'groups_manager:group_member_role_list' %}"{% endif %}>Cancel</a>
        </div>
    </div>
</form>

{% endblock content_groups_manager %}
