{% extends "groups_manager/bulma/member.html" %}


{% block breadcrumbs %}
  {{ block.super }}
  <li>
    <a href="{% url 'groups_manager:member_delete' member.id %}">Delete</a>
  </li>
{% endblock breadcrumbs %}


{% block content_groups_manager %}

  <h2 class="title is-2">
    <i class="fa fa-groups-manager-member"></i> Delete member
  </h2>

  <div class="container">
    <h3 class="title is-3">{{ member }}</h3>
    <p>Are you sure you want to delete this member?</p>
    <p>All relations that involve this member will be deleted too.</p>
    <form action="{% url 'groups_manager:member_delete' member.id %}" method="post">
        {% csrf_token %}
        <div class="buttons are-medium columns">
            <div class="column">
                <input type="submit" class="button is-danger is-fullwidth" value="Delete" />
            </div>
            <div class="column">
                <a href="{% url 'groups_manager:member_detail' member.id %}" class="button
                         is-warning  is-fullwidth">Back to details</a></div>
        </div>
    </form>

  </div>

{% endblock content_groups_manager %}
