{% extends 'proyecto/base.dj.html' %}

{% block content_proyecto%}
<div class="tile is-child">
<h2 class="title is-2">
    <i class="fa fa-groups-manager-group"></i> Cursos
</h2>
</div>
<div class="tile is-child">
<table class="table is-hoverable is-fullwidth is-striped" id="group_list">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Clasificación(es)</th>
            <th class="has-text-right">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in object_list %}
        <tr>
            <td><img src="{{curso.imagen.url}}" alt="sin imagen" width="60" height="auto"></td>
            <td><a href="{{curso.get_absolute_url}}" alt="{{curso.slug_nombre}}">{{curso.nombre}}</a></td>
            <td>{{curso.descripcion|safe|truncatewords:30}}</td>
            <td>
                <ul>
                    {% for clasification in curso.clasificacion.all %}
                    <li>{{clasification}}</li>
                    {% endfor %}
                </ul>
            </td>
            <!-- action field -->
            <td class="has-text-right">
                <!--PERMISSIONS_HERE-->
                {% if perms.groups_manager.can_change_project %}
                <a href="{% url 'proyecto:course_edit' curso.slug_nombre %}"
                   class="button is-block is-warning">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {% if perms.groups_manager.can_delete_project %}
                <a href="{% url 'proyecto:course_delete' curso.slug_nombre %}"
                   class="button is-block is-danger">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
