<ul class="menu-list">
    <li><a href="{% url 'admin_group:application' %}">
        Grupos de Administración</a></li>
</ul>
{% for app, group in menu.items %}
<p class="menu-label">
    {{app}}
</p>
<ul class="menu-list">
    {% for elem in group %}
    <li>{{elem.html|safe}}</li>
    {% endfor %}
</ul>
{% endfor %}
