{% extends 'proyecto/base.dj.html' %}

{% block content_article%}
<div class="content columns">
    <div class="column is-half">
    <h3 class="title is-3 has-text-centered">{{object.tipo}}</h3>
    <section>
        {{object.descripcion|safe}}
    </section>
    </div>
    <div class="column" id="related-courses">
        <h3 class="title is-3">Cursos relacionados</h3>
        <ul>
            <!-- TODO: limited heght, with scrollbar -->
            {% for course in object.courses.all %}
            <li><a class="button" href="{{course.get_absolute_url}}">
                {{course.nombre|title}}</a> </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
