{% load inlinecss %}
{% inlinecss "inscripcion/css/email.css" %}
<html>
    <body>
        <article>
            <h1>{{data_persona.nombre}}, hemos recibido tu email de contacto </h1>

            <p>Lo más pronto posible nos comunicaremos a tu email {{data_persona.email}}, o
                bien a tu teléfono {{data_persona.telefono}}</p>

            <p>Lo que nos escribiste es lo siguiente:</p>

            <table>
                <tr><td>Tema</td><td>{{data_persona.tema}}</td></tr>
                <tr><td>Cuerpo</td><td>{{data_persona.cuerpo}}</td></tr>
            </table>

        </article>
    </body>
</html>
{% endinlinecss %}
