{% extends 'base.dj.html' %}
<!-- Permitir el uso de estaticos css js -->
{% load static %}
{% load widget_tweaks %}

{% block title %}
Contacto Exitoso |Curso de Programación para Organizaciones Comunitarias
{% endblock %}

{% block content_article %}
<div class="mdl-grid">
    <div class="mdl-cell--3-offset"></div>
    <article class="pagina-articulo mdl-cell mdl-cell--6-col">
    <h1>¡Gracias!</h1>
    <p>Próntamente nos pondremos en contacto contigo</p>
    <div id="mensaje_status"></div>
    </article>
</div>
{% endblock content_article%}

{% block footer_javascript %}
<script>
 function getCookie(name) {
     var cookieValue = null;
     if (document.cookie && document.cookie !== '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
             var cookie = cookies[i].trim();
             // Does this cookie string begin with the name we want?
             if (cookie.substring(0, name.length + 1) === (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
             }
         }
     }
     return cookieValue;
 }
 var csrftoken = getCookie('csrftoken');
 
 const task_code="{{task_id}}";
 const  url="ajax/contacto/task="+task_code;

 /* consultar cada .5 seg*/
 const periodo = 500;
 const id=setInterval(get_status_signup, periodo);

 function stop_ajax(){
     clearInterval(id)
 };
 
 function get_status_signup(){
     let xhr = new XMLHttpRequest();
     xhr.open('GET', url, true);
     xhr.onload = function status_reporte(event){
         let data_txt = xhr.responseText;
         let data_json = JSON.parse(data_txt);
	       let success = data_json["success"];

	       if (success) {
	           stop_ajax();
	       };

         if (xhr.readyState==4){
             if (xhr.status==400 && success){
		             /* Poner algo en html */
		             let mensaje =  document.getElementById("mensaje_status");
		             // cambio de mensaje
                 if (data_json["status"]===true){
                     let MSG = "Hemos enviado tu email de contacto";
                     mensaje.innerHTML = MSG;}
                 else{
                     mensaje.innerHTML = "No se pudo enviar email de activación, vuelve a intentarlo";
                 }

             }
             else{
                 console.log("Error al recibir", xhr.status)

             }
         }

     };
     
     var csrftoken = getCookie('csrftoken');
     xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
     xhr.setRequestHeader("X-CSRFToken", csrftoken);
     xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
     xhr.send();
 }
 
</script>
{% endblock %}
